.container2{
    background-color: var(--color-main);
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 48px;
}
footer .inner-left{
    width: 35%;
}
footer .inner-left div{
    color: #fff;
    font-size: 14px;
    text-align: justify;
    line-height: 2;
}


/* right */
footer .inner-right{
    width: calc(65% - 20px);
}
footer .inner-right .sec1{
    display: flex;
    justify-content: space-between;
}
.parent{
    width: calc(25% - 20px);
    color: #fff;
}
footer .inner-right .sec1 .parent p{
    font-size: 16px;
}
footer .inner-right .sec1 .parent div a{
    color: #fff;
    font-size: 14px;
}
footer .inner-right .sec1 .parent div{
   margin-top: 10px;
}


footer .inner-right .sec2{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
footer .inner-right .sec2 .parent div a{
    color: #fff;
    font-size: 14px;
}





.container2 .inner-right .sec2 img{
    width: 100px;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.bottom p{
    padding: 10px;
    color: var(--color-main);
    font-size: 14px;
}
.bottom ul {
    display: flex;
    list-style: none;

}
.bottom ul li a {
    color: var(--color-main);
    padding-right: 10px;
 
}

footer a{
    text-decoration: none;
}